.app-hidden {
    display: none;
}

#dispType {
    font-size: 1.2rem;
    color: var(--orange);
}

#mi-btn {
    padding: 5px 10px;
    font-size: 1rem;
}

#km-btn {
    padding: 5px 10px;
    font-size: 1rem;
}

.results-area {
    color: var(--text);
    margin-top: 10px;
    text-align: center;
}

.result-temp {
    font-size: 5rem;
    color: var(--text);
}

#formula {
    font-size: 1.5rem;
    padding-bottom: 20px;
}

@media(max-width: 900px) {
    .app-hidden {
        display: block;
    }
    .hero {
        display: none !important;
    }
    .title-container {
        color: var(--text);
    }
}