:root {
    --bg: #fff;
    --text: #007acc;
    --highlight: #FF6969;
    --slate: #b6c5e0;
    --leftGrad: #05cff7;
    --centerGrad: #a2faa7;
    --rightGrad: #007acc;
}

.app-hidden {
    display: none;
}

input {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #007acc;
    font-size: 2rem;
    color: #007acc;
    margin: 10px;
    height: auto;
    padding: 5px;
    text-align: center;
}

input:focus {
    outline: none;
}

input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
    border-radius: 5px;
    color: #007acc;
    outline: none;
}

.btn-area{
    margin: 10px;
}

.span {
    font-size: 1.2rem;
    color: #09396c;
}

.results-area {
    text-align: center;
    margin-bottom: 25px;
}

.results-area p {
    font-size: 2.2rem;
    color: var(--text)

}

.additional-area {
    text-align: center;
}

.additional-area p {
    font-size: 2.2rem;
    color: #FF6969;
}

@media(max-width: 900px) {
    .app-hidden {
        display: block;
    }
    .hero {
        display: none !important;
    }
    .title-container {
        color: var(--text);
    }
}