.app-hidden {
    display: none;
}

input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
    width: 200px;
    color: var(--text);
    outline: none;
}

.input-box input {
    margin-top: 20px;
    width: 180px;
}

.calc-btn-area{
    margin-top: 10px;
}

.span {
    font-size: 1.2rem;
    color: var(--text);
}

.results-area {
    text-align: center;
}

.results-area #result {
    color: var(--orange);
    font-weight: bold;
}

.results-area p {
    font-size: 2.2rem;
    color: var(--text)

}

.additional-area {
    text-align: left;
}

.additional-area p {
    font-size: 2.2rem;
    color: var(--orange);
    text-align: center;
}

.additional-title {
    text-align: center;
}

@media(max-width: 900px) {
    .app-hidden {
        display: block;
    }
    .hero {
        display: none !important;
    }
    .title-container {
        color: var(--text);
    }
}