.app-hidden {
    display: none;
}

.type-selection-area {
    text-align: right;
    margin-bottom: 10px;
}

.field-container {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: right;
    color: var(--text); 
}

.btn-area{
    margin: 10px;
}

.hide {
    display: none;
}

.results-area {
    /* border: 1px solid #454545; */
    color: var(--text);
    text-align: center;
    height: fit-content;
    width: 90%;
}
.status-txt {
    font-size: 1rem;
}

@media(max-width: 900px) {
    .app-hidden {
        display: block;
    }
    .hero {
        display: none !important;
    }
    .title-container {
        color: var(--text);
    }
}