.app-hidden {
    display: none;
}

.count-txt {
    font-size: 5rem;
    color: #007acc;
}

@media(max-width: 900px) {
    .app-hidden {
        display: block;
    }
    .hero {
        display: none !important;
    }
    .title-container {
        color: var(--text);
    }
}