/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sedan:ital@0;1&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #007acc;
    /* font-family: 'Roboto', sans-serif; */
    font-family: "Sedan", serif;
    color: #09396c;
}

.main-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 15px;
    height: fit-content;
    width: 425px;
}

a {
    margin: 15px ;
    text-decoration: none;
}

p {
    margin: 10px 25px;
}

span {
    color: #fff;
    font-size: 2.5rem;
}

.margin-top {
    margin-top: 10px;
}

h2 { 
    margin: 0;
	font-size: 1.2rem; 
} 

.homeColor {
    font-size: 1.2rem;
    color: #fff;
}

.homeColor:hover {
    color:#0f4a89;
    transition: ease-in 0.2s;
}

header {
    text-align: center;
}

.coin img {
    border-radius: 50%;
    height: 400px;
    width: 400px;
    margin: 20px;
}

.coin.flip { 
	animation: spin 1s 
		cubic-bezier(0.4, 2.5, 0.6, 0.5); 
} 

@keyframes spin { 
	0% { 
		transform: rotateY(0deg); 
	} 
	100% { 
		transform: rotateY(360deg); 
	} 
} 

.btn {
    background-color: #c1121f;
    font-family: inherit;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 45px;
    cursor: pointer;
}

.btn:hover {
    background-color: #d82e2e;
}

.results-area { 
    /* border: 1px solid red; */
    margin-top: 20px;
    display: flex;
    text-align: center;
	font-size: 1.2rem; 
	color: #09396c;
} 

.percent-area { 
    /* border: 1px solid red; */
    display: flex;
	font-size: 1.2rem; 
    text-align: center;
	color: #09396c;
} 

.array-area {
    color: #fff;
    font-size: 1.2rem;
}

@media (max-width: 500px) {

    .main-container {
        margin-top: 15px;
        width: 375px;
    }

    p {
        margin: 10px 20px;
    }
    .coin img {
        border-radius: 50%;
        height: 250px;
        width: 250px;
        margin: 5px;
    }

    .results-area {
        font-size: 1rem;
        margin-top: 5px;
    }

    span {
        font-size: 1.6rem;
    }

    .array-area {
        font-size: 1rem;
    }


}