@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    margin: 0;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(17 138 178);
}

.homeColor {
    color:rgb(224, 147, 106);
}

.mainContain {
    border: 1px solid lightslategray;
    background-color: #fff;
    padding: 30px;
    margin-top: 50px;
}

.instructions {
    border: 1px solid lightslategray;
    padding: 3px 15px;
}