.desc {
    background-color: #f7efe0;
    box-shadow: rgba(0, 0, 0, 0.40) 0px 3px 4px;
    border-radius: 10px;
    position: flex;
    padding: 20px;
    margin: 0 auto;
    width: 900px;
    height: 780px;
    top: 750px;
}


pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: flex;
    align-items: center;
    justify-content: left;
  }
