
.app-hidden {
    display: none;
}

.betweenText {
    text-align: center;
    margin-bottom: 15px;
}

.jsHidden {
    text-align: left;
}

input:focus {
    outline: none;
    border: 0;
}

#guessBox {
    outline: none;
    padding: 15px 10px;
    text-align: center;
    font-size: 1em;
}

#remaining {
    text-align: center;
    padding: 10px;
}

#result {
    text-align: center;
    padding: 4px;
    font-size: 1.5em;
}

.reset_btn {
    display: flex;
    font-size: 1.4rem;
    background-color: #c1121f;
    margin: 0px;
    padding: 5px 10px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.reset_btn:hover {
    color: #c1121f;
}

@media screen and (max-width: 900px) {

    .mainContain {
        height: auto;
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn {
        margin-top: 20px;
        width: 150px;
    }

    h4 {
        padding: 0;
        margin: 0;
    }

    #resCardContainer {
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }

    .operator {
        margin: 0px;
        padding: 0px;
    }

    .app-hidden {
        display: block;
    }
    .hero {
        display: none !important;
    }
    .title-container {
        color: var(--text);
    }
    
}