@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
    background-color: #0093E9;
    font-family: 'Roboto', sans-serif;
}

.converter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: #ffffff7c;
    /* box-shadow: 0 8px 50px -8px rgba(0, 0, 0, 0.3); */
    padding: 16px;
    border-radius: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
    margin-bottom: 5px;
}
  
header h1 {
    font-size: 1.7rem;
    text-transform: uppercase;
    text-align: center;
    margin: 20px auto 15px auto;
    color: #343434;
}

.homeColor {
    font-size: 1.2rem;
    color: #c1121f;
}

a {
    text-decoration: none;
    margin: 15px;
}

.betweenText {
    text-align: center;
    margin-bottom: 15px;
}

.jsHidden {
    text-align: left;
}

input:focus {
    outline: none;
    border: 0;
}

#guessBox {
    outline: none;
    margin: 10px;
    padding: 15px 10px;
    text-align: center;
    font-size: 1em;
}

#remaining {
    text-align: center;
    padding: 10px;
}

#result {
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
}

.btn {
    padding: 15px 20px;
    background-color: #c1121f;
    font-size: 1.5rem;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #c1121f;
    color: #fff;
    border: none;
}

.btn:active {
    background-color: #c1121f;
    color: #fff;
    border: none;
}

.reset_btn {
    display: flex;
    font-size: 1.4rem;
    background-color: #c1121f;
    margin: 20px 0 15px 0;
    padding: 5px 10px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.reset_btn:hover {
    color: #c1121f;
}



@media screen and (max-width: 501px) {

    .mainContain {
        height: auto;
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn {
        margin-top: 20px;
        width: 150px;
    }

    h4 {
        padding: 0;
        margin: 0;
    }

    #resCardContainer {
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }

    .operator {
        margin: 0px;
        padding: 0px;
    }
    
  }