@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.homeColor {
    color:rgb(224, 147, 106);
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

h1 {
    margin: 10px;
}

header {
    display: flex;
    justify-content: left;
    align-items: baseline;
    width: 100%;
    margin: 0 auto;
}

.outer {
    width: fit-content;
    margin: 50px auto;
}

.section p {
    margin: 10px;
    font-size: 3rem;
}

.section {
    width: fit-content;
    height: fit-content;
    margin: 10px;
    border-radius: 10px;
}

