:root {
    --bg: #fff;
    --text: #007acc;
    --highlight: #FF6969;
    --slate: #b6c5e0;
    --leftGrad: #05cff7;
    --centerGrad: #a2faa7;
    --rightGrad: #007acc;
}

*{
    margin:0px;
    padding: 0;
}

html{
    font-family: Helvetica, sans-serif;
}

body {
    /* border: 1px solid red; */
    background-color: var(--bg);
}

a {
    text-decoration: none;
    color: var(--text);
    font-size: 1.3rem;
    font-weight: 200;
}

a:hover {
    color: var(--highlight);
    opacity: 1;
    transition: all 0.3s ease;
}

.nav-bar {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-links {
    /* border: 1px solid green; */
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme-btn {
    background: none;
    border: none;
	cursor:pointer;
	font-size: 2rem;
	text-decoration:none;
}

/* .main-link-icon {
    margin-right: 10px;
} */

.hero {
    border-bottom: 1px solid var(--slate);
    color: var(--text);
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.title-container {
    text-align: center;
}

.title {
    color: var(--blue);
}

.description-text {
    color: var(--highlight)
}

.elem-logo {
    border: 3px solid;
    border-image: linear-gradient(45deg, var(--leftGrad) 10%, var(--centerGrad) 50%, var(--rightGrad) 100%) 1;
    position: relative;
    padding: 0;
    height: 240px;
    width: 250px;
    max-height: 340px;
    max-width: 350px;
    cursor: default;
}

.logo-upper-left {
    margin: 0px;
    padding: 0px;
    font-size: 1.5rem;
    position: absolute;
    top: 9px;
    left: 15px;
}

.logo-center {
    position: absolute;
    top: 15px;
    left: 50px;
    margin: 0px;
    padding: 0px;
    font-size: 7rem;
    font-weight: 200;
}

.logo-center span {
    margin: 0px;
    padding: 0px;
    font-size: 8rem;
}

.logo-bottom-center-name {
    position: absolute;
    font-size: 1.5rem;
    bottom: 55px;
    left: 60px;
}

.logo-bottom-center {
    margin: 0px;
    padding: 0px;
    font-size: 2rem;
    position: absolute;
    bottom: 10px;
    left: 75px;
}

.apps-main-container {
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 40px 0;
    padding: 10px;
}

.app-card {
    border: 2px solid;
    border-image: linear-gradient(45deg, var(--leftGrad) 10%, var(--centerGrad) 50%, var(--rightGrad) 100%) 1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .17);
    /* border-radius: 10px; */
    padding: 25px;
}

.app-link-icon {
    margin-right: 10px;
}

.app-card h2 {
    margin-bottom: 15px;
    border-bottom: 1px solid var(--slate);
    color: var(--text);
}

.h2-icon {
    margin-right: 5px;
}

.app-card a {
    font-size: 1.2rem;
    line-height: 2rem;
}

.info {
    /* border: 1px solid fuchsia; */
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

footer {
    /* border: 1px solid #ff5900; */
    color: var(--text);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    bottom: 0;
    width: 100%;
    height: 50px;
}

/*************************** Mobile *******************************************/
@media(max-width: 900px) {

    .hero {
        flex-direction: column;
    }

    .apps-main-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .app-card {
        width: 55%;
    }

    footer {
        position: relative;
    }

}
