body {
    font-family: Arial, Helvetica, sans-serif;
    color: #262626;
}

h1, h2, h3, h4, ul, li, p {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.homeColor {
    color:rgb(224, 147, 106);
}

a {
    text-decoration: none;
}

.mainContain {
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    width: 350px;
    margin: 100px auto;
}

.mainContain a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(17 138 178);
}

.mainContain a:hover {
    color:rgb(106, 194, 224);
}
