.homeColor {
    color:rgb(224, 147, 106);
}

.mainContain {
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
}