@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
    background-color: lightblue;
    font-family: 'Share Tech Mono', monospace;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    margin: 0;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.homeColor {
    color:rgb(224, 147, 106);
}

hr {
    width: 80%;
}

.mathText {
    font-size: 30px;
    padding: 0 10px;
    margin-left: -15px;
}

input {
    border: 1px solid #cbcbdd;
    background-color: #ededf8;
    font-family: inherit;
    font-size: 20px;
    color: #345A7C;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 200px;
}

input:focus {
    outline: none;
    border: 1px solid #cbcbdd;
}

a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(17 138 178);
}

.mainContain {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 25px;
    text-align: center;
    padding: 20px;
    width: 500px;
    margin: 50px auto;
}

#scoreArea {
    display: flex;
    align-items: center;
    justify-content: center;
}

#scoreArea p {
    padding: 0 40px;
}

#below {
    text-align: left;
    padding-left: 30px;
}
#below h2{
    text-align: center;    
}
.btn {
    background-color: #FCFCFD;
    width: 70px;
    height: 40px;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    color: #36395A;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    touch-action: manipulation;
    will-change: box-shadow,transform;
    font-size: 15px;
  }
  
  .btn:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .btn:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

@media screen and (max-width: 501px) {
    .mainContain {
        width: 300px;
    }
}