@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: lightblue;
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    margin: 0;
}

.invisible {
    color: #fff;
}

.homeColor {
    color:rgb(224, 147, 106);
}

a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(17 138 178);
}


a:hover {
    color:rgb(106, 194, 224);
}

.mainContain {
    border: 1px solid lightslategrey;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    margin-top: 50px;
}