@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
    background-color: #0093E9;
    font-family: 'Roboto', sans-serif;
}

.converter-container {
    justify-content: center;
    width: fit-content;
    background-color: #ffffff7c;
    /* box-shadow: 0 8px 50px -8px rgba(0, 0, 0, 0.3); */
    padding: 16px;
    border-radius: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 1.7rem;
    text-transform: uppercase;
    text-align: center;
    margin: 20px auto 15px auto;
    color: #343434;
}

p {
    font-size: 15pt;
    color: #343434;
}

.invisible {
    color: #fff;
}

.homeColor {
    font-size: 1.2rem;
    color: #c1121f;
}

h1 {
    color: #003049;
    margin-right: 30px;
}

a {
    font-family: Helvetica, Arial, sans-serif;
    margin: 15px;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(17 138 178);
}

a:hover {
    color:rgb(106, 194, 224);
}

.container-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-bottom {
    text-align: center;
    margin: 20px 0;
    font-size: 1.9rem;
    color: #003049;
}

input {
    padding: 10px 15px;
    text-align: center;
}

.btn {
    padding: 10px;
    font-size: 1rem;
    background-color: #c1121f;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #c1121f;
    color: #fff;
    border: none;
}

.btn:active {
    background-color: #c1121f;
    color: #fff;
    border: none;
}