@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: #669bbc;
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    margin: 0;
}

.invisible {
    color: #fff;
}

.homeColor {
    font-size: 1.2rem;
    color: #c1121f;
}

h1 {
    color: #003049;
    margin-right: 30px;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #FDF0D5;
}

a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(17 138 178);
}


a:hover {
    color:rgb(106, 194, 224);
}

.mainContain {
    background-color: #f7efe0;
    border-radius: 10px;
    padding: 30px;
    margin-top: 50px;
}

.btn {
    margin-top: 20px;
    width: 100px;
    background-color: #c1121f;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #c1121f;
    color: #fff;
    border: none;
}

.btn:active {
    background-color: #c1121f;
    color: #fff;
    border: none;
}