:root {
    --bg: #fff;
    --text: #007acc;
    --highlight: #FF6969;
    --btnRed: #c1121f;
    --slate: #31363F;
}

.app-hidden {
    display: none;
}

.apps-container h2 {
    color: var(--text);
}

.numCard {
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 10px;
}

input {
    text-align: center;
    font-size: 1.3rem;
    padding: 10px;
    width: 100px;
}

.results-txt {
    border-top: 1px solid var(--text);
    border-bottom: 1px solid var(--text);
    width: 90%;
    text-align: center;
    font-size: 2rem;
    margin: 20px;
    padding: 20px 0;
}

#resCardContainer {
    display: flex;
    gap: 25px;
}

.apps-container .operator {
    color: var(--btnRed);
}

.resNumCard {
    text-align: center;
    font-size: 1.2rem;
}

.resNum {
    margin: 10px;
}

@media(max-width: 900px) {
    .app-hidden {
        display: block;
    }
    .hero {
        display: none !important;
    }
    .title-container {
        color: var(--text);
    }
}