@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #007acc;
    font-family: 'Roboto', sans-serif;
    color: #09396c;
}

.main-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 15px;
    height: fit-content;
    width: 475px;
}
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  header h1 {
      font-size: 1.7rem;
      text-transform: uppercase;
      text-align: center;
      margin: 20px auto 15px auto;
}

.homeColor {
    font-size: 1.2rem;
    color: #fff;
}

.homeColor:hover {
    color:#0f4a89;
    transition: ease-in 0.2s;
}


hr {
    border: 0;
    height: 1px;
    width: 80%;
    background: #003049;
}

a {
    text-decoration: none;
    margin: 15px;
}

input:focus {
    outline: none;
    border: 0;
}

#n_field {
    padding: 10px 15px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 5px;
    border: none;
}

.passGBtn {
    border: none;
    background-color: #c1121f;
    color: #fff;
    padding: 10px 15px;
}
.container-top {
    display: flex;
    justify-content: center;
}

.container-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #003049;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.numCard {
    display: flex;
    margin: 5px;
}

input {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #09396c;
    font-size: 2rem;
    color: #fff;
    margin: 10px;
    width: 150px;
    height: auto;
    padding: 5px;
    text-align: center;
}

input:focus {
    outline: none;
}

.btn {
    border-radius: 5px;
    font-size: 1.5em;
    margin-top: 20px;
    padding: 5px 50px;
    background-color: #c1121f;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #d62d38;
    color: #fff;
    border: none;
}

.btn:active {
    background-color: #c1121f;
    color: #fff;
    border: none;
}

.resNumCard {
    text-align: center;
    margin: 0 20px;
}

#resCardContainer {
    width: fit-content;
    display: flex;
}

.operator {
    color: #c1121f;
    font-size: 2rem;
}

.resNum {
    font-size: 2.5em;
    color: #09396c;
}

@media screen and (max-width: 501px) {

    .mainContain {
        height: auto;
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn {
        margin-top: 20px;
        width: 150px;
    }

    h4 {
        padding: 0;
        margin: 0;
    }

    #resCardContainer {
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }

    .operator {
        margin: 0px;
        padding: 0px;
    }
    
  }