:root {
    --bg: #fff;
    --text: #007acc;
    --highlight: #FF6969;
    --slate: #b6c5e0;
    --leftGrad: #05cff7;
    --centerGrad: #a2faa7;
    --rightGrad: #007acc;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    text-align:center;
    height: 100vh;
    color: #007ACC;
}

.main-container {
    border: 2px solid;
    border-image: linear-gradient(45deg, var(--leftGrad) 10%, var(--centerGrad) 50%, var(--rightGrad) 100%) 1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .17);
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 15px;
    height: fit-content;
    width: 475px;
}

.homeColor {
    font-size: 1.2rem;
    color: #007ACC;
}

.homeColor:hover {
    color:#FF6969;
    transition: ease-in 0.2s;
}

a {
    text-decoration: none;
    margin: 10px;
}

header h1 {
    /* border: 1px solid blue; */
    margin: 15px;
}

h2 {
    font-size: 2.2rem;
}

h4 {
    padding-top: 5px;
}

.field-container {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    color: #007acc; 
}

input {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #007acc;
    font-size: 2rem;
    color: #007acc;
    margin: 10px;
    width: 350px;
    height: auto;
    padding: 5px;
    text-align: center;
}

input:focus {
    outline: none;
}

.progress-bar-container {
    border: 1px solid rgb(44, 72, 126);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    width: 350px;
    height: 10px;
}

.progress-bar {
    background-color: rgb(101, 227, 70);
    border-radius: 10px;
    width: 0%;
    height: 100%
}

.btn-area {
    margin-top: 25px;
}

.btn {
    background-color: #c1121f;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 45px;
    cursor: pointer;
}

.btn:hover {
    background-color: #d82e2e;
}

.results-area {
    /* border: 1px solid #454545; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 2rem;
    color: #FF6969;
}

#result-txt {
    overflow: hidden;
    word-break: break-all;
}

#copy-btn {
    background-color: #c1121f;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.hide {
    display: none;
}

@media (max-width: 500px){
    .main-container {
        width: 90%;
    }

    .btn {
        padding: 10px 25px;
    }

    input {
        width: 300px;
        font-size: 1.8rem;
    }

    .progress-bar-container {
        width: 300px;
    }
}