:root {
    --bg: #fff;
    --text: #007acc;
    --highlight: #FF6969;
    --slate: #b6c5e0;
    --leftGrad: #05cff7;
    --centerGrad: #a2faa7;
    --rightGrad: #007acc;
}

.app-hidden {
    display: none;
}

.main-container {
    color: var(--text);
    width: fit-content;
    padding: 0 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.directions {
    margin-bottom: 20px;
    color: var(--text);
    font-size: 1.1rem;
}

.inputs-container {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.eqText {
    font-size: 1.5rem;
}

.varIn {
    width: 50px;
    font-size: 1.2rem;
    margin: 10px;
}

.terms-container {
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0 15px 30px;
}

.terms-container p {
    font-size: .8rem;
    margin: 0;
    padding: 0;
}

.solveBtn {
    background-color: var(--orange);
    border: none;
    color: #fff;
    font-size: 1rem;
    padding: 5px;
    /* width: 100%; */
    cursor: pointer;
}

.results-container {
    /* border: 1px solid fuchsia; */
    text-align: left;
    margin-top: 15px;
}

.results-container p {
    padding: 5px;
}

.output {
    color: var(--text);
}

.homeColor {
    color: var(--text);
}

.homeColor:hover {
    color: var(--orange);
    transition: ease-in 0.2s;
}

.central-container {
    display: flex;
    align-items: center;
}

.left-container {
    border: 2px solid;
    border-image: linear-gradient(45deg, var(--leftGrad) 10%, var(--centerGrad) 50%, var(--rightGrad) 100%) 1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .17);
    border-right: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    padding: 10px;
    text-align: center;
}

.calculator-container {
    /* border: 1px solid yellow; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#calculator {
    /* box-shadow: 0 8px 50px -8px rgba(0, 0, 0, 0.3); */
    /* border: 1px solid #0f4a89; */
    border: 2px solid;
    border-image: linear-gradient(45deg, var(--leftGrad) 10%, var(--centerGrad) 50%, var(--rightGrad) 100%) 1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .17);
    width: 800px;
    height: 600px;
}

cite {
    font-size: .8rem;
    margin: 15px;
}

@media  (max-width: 800px) {

    .main-container {
        flex-direction: column;
    }

    .central-container {
        display: flex;
        flex-direction: column;
    }

    .left-container {
        /* border: 1px solid red; */
        background: none;
        border: none;
    }

    .varIn {
        width: 45px;
    }

    .calculator-container {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #calculator {
        box-shadow: 0 8px 50px -8px rgba(0, 0, 0, 0.3);
        min-width: 300px;
        width: 100%;
        height: 650px;
    }

    .app-hidden {
        display: block;
    }
    .hero {
        display: none !important;
    }
    .title-container {
        color: var(--text);
    }
}