
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #007acc;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 50px;
    padding: 16px;
    border-radius: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    margin: 10px;
    text-decoration: none;
}

header {
    text-align: center;
    margin-bottom: 5px;
}

.title {
    margin: 15px;
}

.directions {
    margin: 10px;
}

.inputs-container {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border-radius: 5px;
    text-align: center;
    border: none;
}

input:focus::placeholder {
    color: transparent;
}

.eqText {
    font-size: 1.5rem;
}

.varIn {
    width: 50px;
    font-size: 1.2rem;
    margin: 5px;
}

.terms-container {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.terms-container p {
    font-size: .8rem;
    margin: 0;
    padding: 0;
}

.solveBtn {
    background-color: #c1121f;
    border: none;
    color: #fff;
    font-size: 1rem;
    padding: 5px;
    width: 100%;
}

.results-container {
    /* border: 1px solid fuchsia; */
    text-align: left;
    margin-top: 15px;
}

.output {
    color: #fff;
}

.homeColor {
    color:#fff;
}

.homeColor:hover {
    color:#0f4a89;
    transition: ease-in 0.2s;
}


.calculator-container {
    /* border: 1px solid yellow; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 0 0 15px;
}

#calculator {
    box-shadow: 0 8px 50px -8px rgba(0, 0, 0, 0.3);
    width: 600px;
    height: 400px;
}

cite {
    margin: 15px;
}

@media  (max-width: 800px) {

    .main-container {
        flex-direction: column;
        margin-top: 25px;
    }

    .varIn {
        width: 45px;
    }

    .calculator-container {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 25px 0;
    }

    #calculator {
        box-shadow: 0 8px 50px -8px rgba(0, 0, 0, 0.3);
        min-width: 300px;
        width: 90%;
        height: 650px;
    }
}