* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #70badc 100%);
    font-family: 'Roboto', sans-serif;
}

.converter-container {
    width: fit-content;
    text-align: center;
    background-color: #ffffff7c;
    box-shadow: 0 8px 50px -8px rgba(0, 0, 0, 0.3);
    padding: 16px;
    border-radius: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  header {
    margin-bottom: 25px;
  }
  
  header h1 {
      font-size: 1.7rem;
      text-transform: uppercase;
      margin-top: 20px;
}

.homeColor {
    font-size: 1.2rem;
    color: #c1121f;
}

a {
    text-decoration: none;
    margin: 15px;
}

.title {
    margin-bottom: 5px;
    color: #1d466a;
}

.directions {
    margin-bottom: 15px;
    color: #0d365a;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.inputs {
    /* border: 1px solid red; */
    background-color: rgba(255, 254, 255, 0.365);
    display: flex;
    justify-content: center;
    align-items: left;
    padding: 0 0 0 25px;
    border-radius: 0 10px 10px 0;
}

.inputs p{
    cursor: default;
    color:#c1121f;
    font-size: 3rem;
}

.inputs sup{
    color:#c1121f;
    font-size: 2rem;
}

.btn {
    background-color: #f11c1c;
    font-size: 2rem;
    color: #fff;
    padding: 15px 15px;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

::placeholder {
    color: rgb(127, 154, 174);
    opacity: 1; /* Firefox */
}

input:focus {
    outline: none;
}

input:focus::placeholder {
    color: transparent;
}

.vars {
    font-size: 3rem;
    text-align: center;
    background: none;
    border: none;
    width: 3rem;
    margin: 0 5px;
    color: rgb(39, 74, 110);
    cursor: pointer;
}

.results {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    font-size: 1.5rem;
    text-align: left;
}

.output {
    color: #f11c1c;
}

.results p {
    margin-bottom: 15px;
    color: #2d4a64;
}

#calculator {
    box-shadow: 0 8px 50px -8px rgba(0, 0, 0, 0.3);
    width: 800px;
    height: 600px;
}