
body {
    background-color: #0093E9;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    text-align: center;
    border: 1px solid red;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-container {
    border: 1px solid black;
}

.inputs-container {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.varIn {
    width: 55px;
}

.calculator-container {
    border: 1px solid yellow;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calculator {
    box-shadow: 0 8px 50px -8px rgba(0, 0, 0, 0.3);
    width: 600px;
    height: 400px;
}

.results-container {
    border: 1px solid fuchsia;
}

@media  (max-width: 800px) {

    .main-container {
        flex-direction: column;
    }
    .calculator-container {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #calculator {
        box-shadow: 0 8px 50px -8px rgba(0, 0, 0, 0.3);
        min-width: 400px;
        width: 100%;
        height: 650px;
    }
}