@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #007acc;
    font-family: 'Roboto', sans-serif;
}

a {
    margin: 15px;
    text-decoration: none;
}

.homeColor {
    font-size: 1.2rem;
    color: #fff;
}

.homeColor:hover {
    color:#0f4a89;
    transition: ease-in 0.2s;
}
.title {
    margin: 20px;
}

.main-section {
    background-color: rgba(255, 255, 255, 0.2);
    width: fit-content;
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
    padding: 25px;
}
.btn {
    border: none;
    background-color: #204c8f;
    color: #fff;
    font-size: 1rem;
    padding: 5px 10px;
    margin-top: 15px;
}

.active {
    background-color: #c1121f;
    color: #fff;
}
input {
    border: 1px solid #282828;
    padding: 5px;
}
.results-section {
    border: 1px solid #282828;
    background-color: #fff;
    border-radius: 0px 10px 10px 10px;
    margin: 15px 0 0 5px;
    padding: 10px;
    height: fit-content;
}
.hide {
    display: none;
}
.results-section p {
    font-size: 1rem;
    padding: 5px;
}
