.toggleBtn {
    border: none;
    background-color: #c1121f;
    color: #f7efe0;
    height: 25px;
    width: 125px;
    border-radius: 5px;
    cursor: pointer;
}

.homeColor, a:visited{
    font-size: 1.2rem;
    color: #c1121f;
}

.links {
    text-decoration: none;
}

.code {
    width: 600px;
    margin: 25px auto;
    text-align: center;
}

.hidden {
    display: none;
    text-align: left;
}

.code pre{
    color: #f7efe0;
}