.jsBtn {
  border: none;
  background-color: #c1121f;
  color: #f7efe0;
  height: 25px;
  width: fit-content;
  border-radius: 5px;
  cursor: pointer;
}

.links {
  text-decoration: none;
}

.code .jsBtn {
  padding: 0px 10px;
  margin: 25px auto;
  text-align: center;
}

.jsHidden {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: fit-content;
  width: 500px;
  max-height: 90%;
  overflow: scroll;
  background-color: #f7efe0;
  padding: 2rem;
  border-radius: 25px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.closeJsModal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 2rem;
  color: #c1121f;
  cursor: pointer;
  border: none;
  background: none;
}

.code pre{
  font-size: 0.7rem;
  color: #3a3429;
  text-align: left;
}

/* About Modal */

.hidden {
    display: none;
  }
  
  .aboutModal h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #c1121f;
  }
  
  .aboutModal p {
    font-size: 1.2rem;
    padding: 10px;
    color: #282828;
  }

  .aboutModal {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 500px;
    width: 50%;
    background-color: #f7efe0;
    padding: 4rem;
    border-radius: 25px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
  
  .showAboutModal {
    font-size: 2rem;
    font-weight: 600;
    padding: 1.75rem 3.5rem;
    margin: 5rem 2rem;
    border: none;
    background-color: #fff;
    color: #444;
    border-radius: 10rem;
    cursor: pointer;
  }
  
  .closeAboutModal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 2rem;
    color: #c1121f;
    cursor: pointer;
    border: none;
    background: none;
  }
    
  .aboutOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    z-index: 5;
  }