:root {
    --bg: #fff;
    --text: #007acc;
    --highlight: #FF6969;
    --slate: #b6c5e0;
    --leftGrad: #05cff7;
    --centerGrad: #a2faa7;
    --rightGrad: #007acc;
}

.app-hidden {
    display: none;
}

.type-selection-area {
    display: flex;
}

#disp-type {
    font-size: 1.2rem;
    color: #007acc;
}

input {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #09396c;
    font-size: 2rem;
    color: #007acc;
    margin: 10px;
    width: 150px;
    height: auto;
    padding: 5px;
    text-align: center;
}

input:focus {
    outline: none;
}

.results-area {
    margin-top: 10px;
    text-align: center;
}

.result-temp {
    font-size: 5rem;
    color: #007acc;
}

#formula {
    font-size: 1.5rem;
    padding-bottom: 20px;
}

@media(max-width: 900px) {
    .app-hidden {
        display: block;
    }
    .hero {
        display: none !important;
    }
    .title-container {
        color: var(--text);
    }
}