:root {
    --bg: #fff;
    --text: #007acc;
    --highlight: #FF6969;
    --slate: #b6c5e0;
    --leftGrad: #05cff7;
    --centerGrad: #a2faa7;
    --rightGrad: #007acc;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: #007acc;
}

a {
    margin: 15px;
    text-decoration: none;
}

.homeColor {
    font-size: 1.2rem;
    color: #007acc;
}

.homeColor:hover {
    color:#FF6969;
    transition: ease-in 0.2s;
}

.title {
    margin: 20px 0;
}

span {
    font-size: 3rem;
}

.main-container {
    border: 2px solid;
    border-image: linear-gradient(45deg, var(--leftGrad) 10%, var(--centerGrad) 50%, var(--rightGrad) 100%) 1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .17);
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 15px;
    height: fit-content;
    width: 475px;
}

header {
    text-align: center;
}

.type-selection-area {
    display: flex;
}

#disp-type {
    font-size: 1.2rem;
    color: #007acc;
}

#c-btn {
    padding: 5px 10px;
    font-size: 1rem;
}

#f-btn {
    padding: 5px 10px;
    font-size: 1rem;
}

.btn {
    background-color: #c1121f;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 45px;
    cursor: pointer;
}

.btn:hover {
    background-color: #d82e2e;
}

.active {
    background-color: #42e31aff;
    color: #235311;
}

.active:hover {
    background-color: rgb(159, 232, 141);
}

input {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #09396c;
    font-size: 2rem;
    color: #007acc;
    margin: 10px;
    width: 150px;
    height: auto;
    padding: 5px;
    text-align: center;
}

input:focus {
    outline: none;
}

.results-area {
    margin-top: 10px;
    text-align: center;
}

.result-temp {
    font-size: 5rem;
    color: #007acc;
}

#formula {
    font-size: 1.5rem;
    padding-bottom: 20px;
}
