:root {
    --bg: #fff;
    --text: #007acc;
    --highlight: #FF6969;
    --slate: #b6c5e0;
    --leftGrad: #05cff7;
    --centerGrad: #a2faa7;
    --rightGrad: #007acc;
}

.app-hidden {
    display: none;
}

.apps-container-hidden {
    display: none !important;
}
  

label {
    font-size: 1.2rem;
}

.input-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    text-align: center;
}

.add-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.add-btn-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input::placeholder {
    color:#7097b1;
}

select {
    border-radius: none;
    height: 35px;
    width: 45px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #09396c;
    color: #09396c;
    /* margin-left: 10px; */
    font-size: .7rem;
}

input {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #09396c;
    font-size: 2rem;
    color: #007acc;
    margin: 5px;
    width: 125px;
    height: auto;
    padding: 5px;
    text-align: center;
}

input:focus {
    outline: none;
}

.hour-1 {
    display: flex;
    align-items: center;
}

.hour-2 {
    display: flex;
    align-items: center;
}

.results-area {
    text-align: center;
}


.ampm {
    width: 50px;
    cursor: pointer;
}

.result {
    font-size: 2.5rem;
    color: #42e31aff;
}

@media(max-width: 900px) {
    .apps-container {
        width: 80% !important;
    }

    .app-hidden {
        display: block;
    }
    .hero {
        display: none !important;
    }
    .title-container {
        color: var(--text);
    }

    input {
        font-size: 1rem;
        margin: 5px;
        width: 90px;
    }
    
    select {
        border-radius: none;
        font-size: .5rem;
        height: 25px;
        width: 35px;
        background-color: rgba(255, 255, 255, 0.4);
        border: 1px solid #09396c;
        color: #09396c;
    }

}
