@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #007acc;
    font-family: 'Roboto', sans-serif;
    color: #09396c;
}

a {
    margin: 15px;
    text-decoration: none;
}

p {
    font-size: 1.5rem;
    margin: 10px 0;
}

h2 {
    font-size: 2.5rem;
}

label {
    font-size: 1.2rem;
}

span {
    color: #fff;
}

.homeColor {
    font-size: 1.2rem;
    color: #fff;
}

.homeColor:hover {
    color:#0f4a89;
    transition: ease-in 0.2s;
}

.title {
    margin: 20px 0;
}

.main-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 15px;
    height: fit-content;
    width: 475px;
}

header {
    text-align: center;
}
header h1 {
    margin-top: 10px;
}

.input-area {
    margin: 10px 0;
}

.add-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.add-btn-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input::placeholder {
    color:#7097b1;
}

select {
    border-radius: none;
    height: 35px;
    width: 45px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #09396c;
    color: #09396c;
    /* margin-left: 10px; */
    font-size: .7rem;
}

input {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #09396c;
    font-size: 2rem;
    color: #fff;
    margin: 5px;
    width: 125px;
    height: auto;
    padding: 5px;
    text-align: center;
}

input:focus {
    outline: none;
}

.hour-1 {
    display: flex;
    align-items: center;
}

.hour-2 {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.btn {
    background-color: #c1121f;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 45px;
    cursor: pointer;
}

.btn-sm {
    background-color: #c1121f;
    color: #fff;
    font-size: .9rem;
    border: none;
    border-radius: 5px;
    margin: 15px;
    padding: 5px 15px;
    cursor: pointer;
}

.btn-sm:hover {
    background-color: #d82e2e;
}

.btn:hover {
    background-color: #d82e2e;
}

.active {
    background-color: #42e31aff;
    color: #235311;
}

.active:hover {
    background-color: rgb(159, 232, 141);
}

.results-area {
    margin-bottom: 20px;
    text-align: center;
}

.ampm {
    width: 55px;
    cursor: pointer;
}


.result {
    font-size: 2.5rem;
    color: #42e31aff;
}


@media (max-width: 1200px) {

    .main-container {
        width: 400px;
    }

    .input-area {
        margin: 5px 0;
    }

    input {
        font-size: 1rem;
        margin: 5px;
        width: 90px;
    }
    
    select {
        border-radius: none;
        font-size: .5rem;
        height: 25px;
        width: 35px;
        background-color: rgba(255, 255, 255, 0.4);
        border: 1px solid #09396c;
        color: #09396c;
    }

    .btn {
        font-size: 1rem;
        margin: 10px;
        padding: 5px 25px;
    }

}
