:root {
    --bg: #fff;
    --text: #007acc;
    --highlight: #FF6969;
    --slate: #b6c5e0;
    --leftGrad: #05cff7;
    --centerGrad: #a2faa7;
    --rightGrad: #007acc;
}

.app-hidden {
    display: none;
}

input {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #09396c;
    font-size: 2rem;
    color: #007acc;
    margin: 10px;
    width: 150px;
    height: auto;
    padding: 5px;
    text-align: center;
}

input:focus {
    outline: none;
}

.input-area {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 45px;
}

.results-area {
    /* border: 1px solid red; */
    margin: 10px;
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}

.total-area {
    border-top: 1px solid #007acc;
    display: inline-flex;
    justify-content: space-around;
    width: 75%;
}

@media(max-width: 900px) {
    .app-hidden {
        display: block;
    }
    .hero {
        display: none !important;
    }
    .title-container {
        color: var(--text);
    }
}