:root {
    --tomato: #ca4040;
    --short: #cac340;
    --long: #40ca80;
    --leftGrad: #05cff7;
    --centerGrad: #a2faa7;
    --rightGrad: #007acc;
}

html {
    text-align: center;
    color: #0000005e;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    transition: background-color 0.5s ease;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

a {
    color:#00000079;
    font-size: 1.5rem;
    margin: 20px;
    text-decoration: none;
}

a:hover {
    color: #0093E9;
}

.homeColor {
    font-size: 1.2rem;
    color: #fff;
  }
  
  .homeColor:hover {
    color:#0f4a89;
    transition: ease-in 0.2s;
  }

.main-container {
    border: 1px solid;
    border-image: linear-gradient(45deg, var(--leftGrad) 10%, var(--centerGrad) 50%, var(--rightGrad) 100%) 1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .17);
    justify-content: center;
    margin-top: 50px;
    width: fit-content;
    background-color: #ca4040;
    /* box-shadow: 0 8px 50px -8px rgba(0, 0, 0, 0.3); */
    padding: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

.icons {
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.412);
    padding: 0px;
    margin: 45px 0 0 0 ;
}
.title {
    font-size: 3rem;
    color: rgba(46, 5, 5, 0.5);
    padding: 0px;
    margin: 0px ;
}

.title-container p {
    color: #fff;
}

#timer {
    margin: 25px 0;
    font-size: 5rem;
    font-weight:  bold;
    user-select: none;
}

.mode {
    border: none;
    background:  none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.429);
    padding: 15px;
    font-size: 1.4rem;
    transition: 0.2s;
}

.mode.active {
    color: rgba(255, 255, 255, 0.56);
    border-bottom: 1px solid rgba(255, 255, 255, 0.56);;
}

.mode.active:hover {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.56);;
}

.mode:hover {
    color: #f76666;
}

.timer-control {
    border: none;
    background-color: #ffffff86;
    border-radius: 5px;
    cursor: pointer;
    color: #0000009b;
    padding: 10px 20px;
    font-size: 1.2rem;
    transition: 0.2s;
}

.timer-control:disabled {
    background-color: #94949459;
    color:#eeeeee67;
}

.timer-control:disabled:hover {
    background-color: #676565;
}

.timer-control:hover {
    background-color: #0093E9;
    color: #fff;
}
hr {
    border: 0;
    margin-top: 25px;
    height: 1px;
    background: #02020266;
}

#duration-control {
    margin-top: 25px;
    user-select:  none;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* border: 1px solid blue; */
}

#duration-control .duration {
    /* background-color: #bebebe; */
    background: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.46);
    margin: 5px;
    font-size: 1rem;
    text-align: center;
    width: 45px;
    max-width: fit-content;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    margin: 0;
}

input::placeholder {
    color: rgba(46, 5, 5, 0.5);
}

@media (max-width: 700px) {
    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
    }
}