@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');

:root {
    --border-color: #003049;
    --water-color: #30b0f4;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #669bbc;
    color: #FDF0D5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #FDF0D5;
}

hr {
    border: 0;
    height: 1px;
    width: 80%;
    background: #003049;
}

.homeColor {
    font-size: 1.5rem;
    font-weight: bold;
    color: #c1121f;
}

h1 {
    font-size: 50px;
    margin: 10px 0 0;
}

h3 {
    font-weight: 400;
    margin: 10px 0;
}

.cup {
    background-color: #FDF0D5;
    border: 1px solid var(--border-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: var(--border-color);
    border-radius: 0 0 40px 40px;
    height: 530px;
    width: 350px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.cup.cup-small {
    width: 50px;
    height: 95px;
    border-radius: 0 0 15px 15px;
    background-color: rgba(253, 240, 213, 0.9);
    
    cursor: pointer;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
    transition: 0.3s ease;
}

.cup.cup-small.full {
    background-color: var(--water-color);
    color: #FDF0D5;
}

.cups {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    margin: 0 0 0 30px;
}

.remainder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    transition: 0.3s ease;
}

.renainder span {
    font-size: 20px;
    font-weight: bold;
}

.remainder small {
    font-size: 12px;
}

.percentage {
    background-color: var(--water-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 0;
    font-size: 30px;
    transition: 0.3s ease;
}

.text {
    text-align: center;
    margin: 0 0 15px;
}