body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    background-color: #007ACC;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-style: italic;
    color: #0c305c;
  }

  button {
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    border: none;
    background-color: #007ACC;
    color: #fff;
  }
  
  video {
    display: block;
  }
  
  section {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }

  .removed {
    display: none;
  }
  
  .invisible {
    opacity: 0.2;
  }
  
  .camView {
    position: relative;
    float: left;
    width: calc(100% - 20px);
    margin: 10px;
    cursor: pointer;
  }
  
  .camView p {
    position: absolute;
    padding: 5px;
    background-color: rgba(0, 132, 255, 0.85);
    color: #FFF;
    border: 1px solid rgba(255, 255, 255, 0.7);
    z-index: 2;
    font-size: 12px;
  }
  
  .highlighter {
    background: rgba(3, 159, 194, 0.25);
    border: 1px solid #fff;
    z-index: 1;
    position: absolute;
  }