@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --alkali-metals: #a5e7ed;
    --alkali-earth-metals: #f0a9a3;
    --trans-metals: #d6c9f1;
    --post-metals: #9ee5ac;
    --metalloids: #fdef97;
    --reactive-nonmetals: #acd2f4;
    --noble-gas: #ffc2f9;
    --lanthanides: #71cccf;
    --actinides: #f1b795;
    --unknown: #c7d0d1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Lato", sans-serif;
    background-color: #007ACC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

h1 {
    color: #fff;
}

p {
    color: #fff;
}

a {
    text-decoration: none;  
}

header {
    text-align: center;
}

.homeColor {
    font-size: 1.2rem;
    color: #fff;
    margin-right: 15px;
}

.homeColor:hover {
    color:#0f4a89;
    transition: ease-in 0.2s;
}

.hidden {
    display: none;
}

.table-main {
    /* border: 1px solid magenta; */
    position: relative;
    width: 100%;
}

.blank {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 1px;
    width: 70px;
    height: 70px;
    pointer-events: none;
}

.card {
    /* border: 1px solid blue; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 0px 0px;
    margin: 1px;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.muted {
    opacity: 0.3;
}

.card:hover {
    border: 1px solid #282828;
}

.card p {
    color: inherit;
}

.card::after {
    content: 'i';
    font-size: 1rem;
    color: inherit;
    opacity: 0.5;
    position: absolute;
    top: 3px;
    right: 7px;
}

.atom-num {
    position: absolute;
    top: 4px;
    left: 4px;
    font-size: .8rem;
}

.symbol {
    font-size: 1.2rem;
    margin-top: 5px;
}

.name {
    font-size: .7rem;
}

.mass {
    font-size: .6rem;
}

.row-a {
    display: flex;
}

.row-1 {
    display: flex;
}
.row-2 {
    display: flex;
}
.row-3 {
    display: flex;
}

.row-4 {
    display: flex;
}
.row-5 {
    display: flex;
}
.row-6 {
    display: flex;
}
.row-7 {
    display: flex;
}

.row-spacer {
    display: flex;
    /* border: 1px solid red; */
    height: 25px;
}

.row-8 {
    display: flex;
}
.row-9 {
    display: flex;
}

/* *********************************************** Modals */

.info-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 900px;
    background-color: #f7efe0;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.5);
    z-index: 11;
  }

  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.459);
  }

  .data {
    width: 100%;
    height: 100%;
  }

  .data h1 {
    color: #282828;
    text-align: center;
  }

  .data h1::after {
    content: '';
  }

  .closeModal {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
    color: #282828;
    cursor: pointer;
    border: none;
    background: none;
  }

  img {
    border: 1px solid #646464;
    height: 500px;
    width: 500px;
    margin: 10px 5%;
    border-radius: 10px;
  }

  .card-stats {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #bdbaba;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .bmi {
    border: none;
    height: 125px;
    width: 125px;
  }

  span {
    font-weight: 600;
  }

  .data p {
    color: #643f07;
    padding: 10px;
  }

  .info-modal li {
    list-style-type: none;
    color: #282828;
  }

/************************************************ Key and colors */

.key-area {
    border: 1px solid #ffffff;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px 20px;
    top: 3%;
    left: 200px;
    width: 450px;
    height: 175px;
    z-index: 10;
}

.key-text {
    text-align: left;
    font-size: 1rem;
    padding: 5px 20px;
    cursor: pointer;
}

.alkali-metals {
    background-color: var(--alkali-metals);
    color: #2f577a;
}

.key {
    display: flex;
    align-items: center;
    padding: 1px;
}

.off {
    pointer-events: none;
    opacity: 0.5;
}

/* .key:hover {
    border: 1px solid #282828;
    margin: 0;
    padding: 0;
} */

.alkali-metals-key {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--alkali-metals);
}

.alkali-earth-metals {
    background-color: var(--alkali-earth-metals);
    color: #783933;
}

.alkali-earth-key {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--alkali-earth-metals);
}

.trans-metals {
    background-color: var(--trans-metals);
    color: #4e3384;
}

.trans-metals-key {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--trans-metals);
}

.post-metals {
    background-color: var(--post-metals);
    color: #20662e;
}

.post-metals-key {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--post-metals);
}

.metalloids {
    background-color: var(--metalloids);
    color: #70651c;
}

.metalloids-key {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--metalloids);
}

.reactive-nonmetals {
    background-color: var(--reactive-nonmetals);
    color: #3d5f7c;
}

.reactive-nonmetals-key {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--reactive-nonmetals);
}

.noble-gas {
    background-color: var(--noble-gas);
    color: #72476d;
}

.noble-gas-key {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--noble-gas);
}

.lanthanides {
    background-color: var(--lanthanides);
    color: #2f577a;
}

.lanthanides p {
    color: #2f577a;
}


.lanthanides-key {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--lanthanides);
}

.actinides {
    background-color: var(--actinides);
    color: #864b34;
}

.actinides p {
    color: #864b34;
}

.actinides-key {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--actinides);
}

.unknown {
    background-color: var(--unknown);
    color: #2f577a;
}

.unknown-key {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--unknown);
}

/************************************************ END COLORS */

/* ********************************************** Mobile */

@media (max-width: 500px) {

    body {
        background-color: #282828;
        height: auto;
        width: 100%;
    }

    .key-area {
        display: none;
    }
    main {
        width: 100%;
    }

    .title::after {
        font-size: 1rem;
        content: ' (mobile)';
    }

    .table-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* border: 1px solid magenta; */
        width: 90%;
    }

    .header-info {
        display: none;
    }

    .info-modal {
        width: 85%;
        height: 675px;
    }

    img {
        height: 250px;
        width: 270px;
        margin: 0 10%;
    }

    .blank {
        display: none;
    }

    .row-1 {
        display: contents;
    }
    .row-2 {
        display: contents;
    }
    .row-3 {
        display: contents;
    }
    
    .row-4 {
        display: contents;
    }
    .row-5 {
        display: contents;
    }
    .row-6 {
        display: contents;
    }
    .row-7 {
        display: contents;
    }
    .row-8 {
        display: contents;
    }
    .row-9 {
        display: contents;
    }

    .closeModal {
        position: absolute;
        top: 1rem;
        right: 1rem;
      }
        
}