@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --alkali-metals: #a5e7ed;
    --alkali-earth-metals: #f0a9a3;
    --trans-metals: #d6c9f1;
    --post-metals: #9ee5ac;
    --metaloids: #fdef97;
    --reactive-nonmetals: #acd2f4;
    --noble-gas: #ffc2f9;
    --lanthanides: #71cccf;
    --actinides: #f1b795;
    --unknown: #c7d0d1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: "Lato", sans-serif;;
    color: #282828;
}

main {
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    width: 100%;
}

.table-main {
    position: relative;
    /* border: 1px solid red; */
    max-width: 1250px;
    margin-top: 75px;
}

.lrg-card {
    border: 1px solid #282828;
    position: absolute;
    top: -40px;
    left: 160px;
    width: 200px;
    height: 250px;
    background-color: #ffffff;
    border-radius: 15px;
    z-index: 100;
}
.info-area {
    border: 1px solid #282828;
    position: absolute;
    top: -40px;
    left: 390px;
    width: 340px;
    height: 250px;
    background-color: #ffffff;
    border-radius: 15px;
    z-index: 100;
}

.info-container {
    /* border:1px solid red; */
    height: 100px;
    width: 100px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #686868;
    border-radius: 5px;
    background: #fafafa;
    margin: 2px;
    width: 59px;
    height: 75px;
    cursor: pointer;
}

.atom-num {
    position: absolute;
    top: 4px;
    left: 4px;
    font-size: .8rem;
}

.symbol {
    font-size: 1.2rem;
    margin-top: 5px;
}

.name {
    font-size: .7rem;
}

.mass {
    font-size: .6rem;
}

.row-left {
    /* border: 1px solid red; */
    display: flex;

}

.mid-space {
    /* border: 1px solid blue; */
    width: 630px; /*504 with 2px margin on card, 472 without*/
}

.row-right {
    /* border: 1px solid red; */
    display: flex;
}

.row-1 {
    display: flex;
    justify-content: space-between;
}
.row-2 {
    display: flex;
}
.row-3 {
    display: flex;
}

.row-4 {
    display: flex;
}
.row-5 {
    display: flex;
}
.row-6 {
    display: flex;
}
.row-7 {
    display: flex;
}

.lan-act {
    margin: 25px 20px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
}
.lan {
    display: flex;
}
.act {
    display: flex;
}

/************************************************ COLORS */
.alkali-metals {
    background-color: var(--alkali-metals);
    color: #2f577a;
}
.alkali-earth-metals {
    background-color: var(--alkali-earth-metals);
    color: #f0a9a3;
}
.trans-metals {
    background-color: var(--trans-metals);
    color: #d6c9f1;
}

.post-metals {
    background-color: var(--post-metals);
    color: #9ee5ac;
}

.metaloids {
    background-color: var(--metaloids);
    color: #fdef97;
}

.reactive-nonmetals {
    background-color: var(--reactive-nonmetals);
    color: #3d5f7c;
}

.noble-gas {
    background-color: var(--noble-gas);
    color: #72476d;
}

.unknown {
    background-color: var(--unknown);
    color: #2f577a;
}

.lanthanides {
    background-color: var(--lanthanides);
    color: #2f577a;
}

.actinides {
    background-color: var(--actinides);
    color: #2f577a;
}
/************************************************ END COLORS */