*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #007ACC;
    text-align:center;
    height: 100vh;
    color: #09396c;
}

.main-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 15px;
    height: fit-content;
    width: 475px;
}

.homeColor {
    font-size: 1.2rem;
    color: #fff;
}

.homeColor:hover {
    color:#0f4a89;
    transition: ease-in 0.2s;
}

a {
    text-decoration: none;
    margin: 10px;
}

header h1 {
    /* border: 1px solid blue; */
    margin: 15px;
}

#us-btn {
    padding: 5px 20px;
    font-size: 1rem;
}

#metric-btn {
    padding: 5px 10px;
    font-size: 1rem;
}

.field-container {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    color: #09396c; 
}

input {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #09396c;
    font-size: 2rem;
    color: #fff;
    margin: 10px;
    width: 150px;
    height: auto;
    padding: 5px;
    text-align: center;
}

input:focus {
    outline: none;
}

.btn-area{
    margin: 10px;
}

.btn {
    background-color: #c1121f;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 45px;
    cursor: pointer;
}

.btn:hover {
    background-color: #d82e2e;
}

.active {
    background-color: #42e31aff;
    color: #235311;
}

.active:hover {
    background-color: rgb(159, 232, 141);
}

.hide {
    display: none;
}

.results-area {
    /* border: 1px solid #454545; */
    margin: 25px;
    height: 120px;
    width: 90%;
}
.status-txt {
    font-size: 1rem;
}

#results-txt{
    font-size: 5rem;
    color: #fff;
}

span {
    font-weight: bold;
    font-size: 1.2rem;
}

.underweight-color {
    color: #06d6ff;
}
.normal-color {
    color: #27ff06;
}
.overweight-color {
    color: #fffb06;
}
.obese-color {
    color: #c1121f;
}

.indicators-area {
    /* border: 1px solid red; */
    margin-top: 10px;
    font-size: 1.5rem;
    width: 100%;
    height: 25px;
    position: relative;
}

#ind-1 {
    /* border: 1px solid blue; */
    position: absolute;
    width: 30px;
    height: 20px;
    left: 60px;
}
#ind-2 {
    /* border: 1px solid yellowgreen; */
    position: absolute;
    width: 30px;
    height: 20px;
    left: 170px;
}
#ind-3 {
    /* border: 1px solid magenta; */
    position: absolute;
    width: 30px;
    height: 20px;
    left: 280px;
}
#ind-4 {
    /* border: 1px solid yellow; */
    position: absolute;
    width: 30px;
    height: 20px;
    right: 30px;
}

.info-area {
    /* border: 1px solid #454545; */
    margin-top: 5px;
    display: flex;
    justify-content: center;
    padding-top: 0px;
    width: 100%;
    height: 90px;
    font-size: 1.1rem;
}

.category-txt {
    margin: 10px 15px 2px;
    font-weight: bold;
}

#underweight{
    border-top: 4px solid #06d6ff;
}

.normal{

    border-top: 4px solid #27ff06;
}

.overweight{
    border-top: 4px solid #fffb06;
}

.obese{
    border-top: 4px solid #c1121f;
}

.hidden {
    display: none;
}

@media (max-width: 500px) {
    .main-container {
        width: 400px;
    }

    .indicators-area{
        width: 100%;
        /* border: 1px solid red; */
    }

    #ind-2 {
        /* border: 1px solid yellowgreen; */
        left: 150px;
    }
    #ind-3 {
        /* border: 1px solid magenta; */
        position: absolute;
        width: 30px;
        height: 20px;
        left: 240px;
    }
    #ind-4 {
        /* border: 1px solid yellow; */
        position: absolute;
        width: 30px;
        height: 20px;
        right: 30px;
    }

    .info-area {
        font-size: .9rem;
    }

}