
body {
    display: flex;
    justify-content: center;
}

main {
    width: 60%;
}

header {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}


.hand-container {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card img {
    height: 175px;
    margin: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.hold-btns-container {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-around;
}

.play-btns-container {
    display: flex;
    justify-content: right;
    margin-top: 20px;
}
