#mQMain {
    width: 250px;
    padding: 0 25px;
}

#qArea {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mathText {
    /* border: 1px solid #0f4a89;
    background-color: #fff;
    border-radius: 10px; */
    font-size: 6rem;
    color: var(--text);
}

.op {
    font-size: 3rem;
    padding: 0 20px;
    color: var(--orange);
}

#ansArea {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
}

.progess-bar-container {
    border: 1px solid rgb(77, 104, 152);
    background-color: var(--bg);
    margin: 10px auto;
    position: relative;
    width: 90%;
    height: .6rem;
}

.question-info-text {
    /* border: 1px solid red; */
    color: var(--text);
    height: 15px;
    margin: 0;
    padding: 0;
    font-size: .8rem;
    text-align: center;
}

.progress-bar {
    background-color: var(--activeGreen);
    width: 0%;
    height: 9px;
}

#scoreArea {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--text);
}

#scoreArea p {
    text-align: center;
    margin: 10px;
    padding: 0;
    color: var(--text);
    font-size: 1.5rem;
}

#messageArea {
    height: 1.3rem;
    text-align: center;
    font-size: 1.3rem;
    color:#c1121f;
}

#pts-area {
    text-align: center;
    border-top: 1px solid var(--text);
    margin: 0 auto;
}

#pts-area p {
    font-size: 1.3rem;
    padding: 6px 0;
    color: var(--text);
}

#pts-area p:last-child {
    margin-top: 15px;
    color: var(--orange);
    /* text-shadow: 0 0 5px rgba(0, 0, 0, 0.718); */
}

#pts-area h2 {
    color: var(--orange);
    margin: 15px 0;
    padding: 0;
}

/* Time Controls  *************************/

.tmNav {
    /* border: 1px solid red; */
    width : 80%; 
    margin : 5px auto 0 auto;
    text-align: center;
  }

label span {
    /* border: 1px solid blue; */
    padding : 0px;
    color : var(--text);
    font-size : 1.2em;
    cursor : pointer;
    display: block;
  }

  label span::before {
    margin-right: 5px;
    content: "🔻";
  }
  
 label span::after {
    /* border: 1px solid red; */
    margin-left: 5px;
    content: "⏱️";
  }
  
  .slide {
    /* border: 1px solid green; */
    margin: 0px auto;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    clear:both;
    width:100%;
    height:0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
  }

  .slide li {
    /* margin-right: 25px; */
    list-style-type: none;
}

  #touch {
    position: absolute;
    opacity: 0;
    height: 0px;
}    
  
  #touch:checked + .slide {
    height: 45px;
}

.timeBtn {
    border: none;
    background-color: var(--text);
    color: #fff;
    font-size: 1rem;
    padding: 2px 10px;
    cursor: pointer;
}
/* SETTINGS MODAL STYLES **********************************/
.modeBtn {
    border: none;
    background-color: var(--orange);
    color: #fff;
    font-size: 1rem;
    padding: 2px 10px;
    cursor: pointer;
}

.modeBtn:hover {
    background-color: var(--orangeHi);
    color: #fff;
}

.settings-btn {
    font-family: inherit;
    font-weight: 300;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #007acc;
}

.settings-btn:hover {
    color: var(--orange);
    transition: ease-in 0.2s;
}

.settings-modal {
    border: 2px solid;
    border-image: linear-gradient(45deg, var(--leftGrad) 10%, var(--centerGrad) 50%, var(--rightGrad) 100%) 1;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 45px;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: fit-content;
    background-color: var(--bg);
    padding: 0 25px 25px 25px;
    z-index: 10;
  }

  .close-settings-modal {
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--orange);
    cursor: pointer;
    border: none;
    background: none;
  }

  #q-in {
    color: var(--orange);
    font-size: 1rem;
    width: 100px;
    padding: 3px;
    margin: -5px;
    text-align: center;
  }

  #q-in-enter-btn {
    border: none;
    background-color: var(--orange);
    color: #fff;
    font-size: 1rem;
    padding: 4px 13px;
    cursor: pointer;
  }

  #q-in-enter-btn:hover {
    background-color: var(--orangeHi);
  }

/* WIN MODAL STYLES***************************/

.hidden {
    display: none;
  }
  
  .winOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }

  .winModal h1 {
    border-bottom: 1px solid #beab86;
    font-size: 2.5rem;
    color: var(--orange);
  }
  
  .winModal p {
    font-size: 1.8rem;
    padding: 5px;
    color: var(--activeGreen)
  }

  .winModal h2 {
    font-size: 2rem;
    padding: 5px 15px;
    margin: 0 5px;
    color: var(--text);
  }

  .winModal {
    border: 2px solid;
    border-image: linear-gradient(45deg, var(--leftGrad) 10%, var(--centerGrad) 50%, var(--rightGrad) 100%) 1;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 45px;
    position: absolute;
    text-align: center;
    margin-top: 50px;
    left: 50%;
    transform: translate(-50%, 5%);
    max-width: 600px;
    width: fit-content;
    height: fit-content;
    background-color:  var(--bg);
    padding: 0 25px 25px 25px;
    z-index: 10;
    cursor: pointer;
  }

  .stats-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }

  .stats-area p {
    margin: 5px;
  }
 
  .closeWinModal {
    position: absolute;
    float: right;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--orange);
    border: none;
    background: none;
  }

  .closeWinModal:hover {
    rotate: 20deg;
  }

  .questions {
    border: 1px solid rgb(16, 89, 134);
    background-color: var(--slate);
    max-height: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.questions h2 {
    padding: 0;
    margin: 0;
}

.questions ul, li {
    list-style-type: decimal;
    text-align: right;
    font-size: 1rem;
    padding: 4px 0;
    margin: 0;
}
.questions li span {
    position: relative;
    /* text-align: right; */
    right: -30px;
}

@media (max-width: 900px) {

    #q-in {
        width: 50px;
      }

    .mode-area {
        flex-wrap: wrap;
    }

    .modeBtn {
        margin: 5px;
    }

    .winModal {
        position: absolute;
        text-align: center;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 3%);
    }

    .stats-area {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: auto;
      }

    .stat-title {
        font-weight: 600;
    }

    .time-controls {
        flex-wrap: wrap;
    }
    .settings-modal {
        top: 50%;
    }

    .settings-modal { 
        top: 50%;
    }
    .winModal {
        position: absolute;
        text-align: center;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 3%);
    }

    .stats-area {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: auto;
      }
/* 
    .winOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 135%;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(10px);
        z-index: 5;
      } */
}
