* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#canvas {
    display: block;
    margin-top: 50px;
}
canvas {
    display: block;
    margin-top: 50px;
}

.results {
    display: flex;
    flex-direction: column;
}