@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body {
    background: url(../assets/img/bg1.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
}

.space-ship-modal h1 {
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
}

.overlay {
    display: none;
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
  }
  
  .modal {
    border: 2px solid;
    border-image: linear-gradient(45deg, var(--leftGrad) 10%, var(--centerGrad) 50%, var(--rightGrad) 100%) 1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .17);
    background-color: var(--bg);
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    z-index: 1;
    /* text-shadow: 2px 2px 0px rgba(34, 0, 0, 1); */
  }

.space-ship-modal {
    border: 2px solid;
    background: url(../assets/img/spaceport.jpg) no-repeat center center fixed;
    background-size: cover;
  }

  .store-modal {
    border: 2px solid;
    background: url(../assets/img/store-bg.jpg) no-repeat center center fixed;
    background-size: cover;
  }

  .store-item-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    width:150px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
  }

  .store-item-card img {
    border: 1px solid gray;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
  }

  .btns-container {
    display: flex; 
    justify-content: center;
    align-items: center;
  }

  .btn-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 35px;
    width: 200;
    height: 400px;
  }

  .planet-btn {
    width: 260px;
    height: 260px;
    cursor: pointer;
    color:#95ff00;
    border: none;
    border-radius: 50%;
    padding: 5px;
    font-size: 1.6rem;
    text-shadow: 2px 2px 0px rgba(34, 0, 0, 1);
  }

  .glurgon-btn {
    background: url(../assets/img/glurgon9.png) no-repeat center;
    background-size: cover;
  }

  .sklee-btn {
    background: url(../assets/img/sklee.png) no-repeat center;
    background-size: cover;
  }

  .meebles-btn {
    width: 190px;
    height: 190px;
    background: url(../assets/img/meeble.png) no-repeat center;
    background-size: cover;
  }

  .planet-btn:hover {
    box-shadow: 5px 5px 100px 0px rgba(255, 3, 238, 0.9);
  }

  .location-text {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .close-input-modal {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 1px;
    right: 5px;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    text-shadow: 2px 1px 0px rgba(34, 0, 0, 1);
  }

.as-main-container {
    box-shadow: 5px 5px 100px 0px rgba(3,255,20,.5);
    position: relative;
    border: 5px solid;
    border-image: linear-gradient(45deg, var(--leftGrad) 10%, var(--centerGrad) 50%, var(--rightGrad) 100%) 1;
    background-color: rgb(209, 224, 240);
    margin-top: 50px;
    width: 1000px;
    height: fit-content;
}

.logo {
  margin: 10px;
  font-size: 3rem;
}

.as-title {
    position: absolute;
    top: -57px;
    left: -25px;
    /* background-color: #fff; */
    padding: 5px 25px 5px 0;
    color: #00ff10;
    font-size: 3rem;
    font-weight: 500;
    text-shadow: 3px 3px 1px rgba(34, 0, 0, 1);
}

.as-top {
    /* border: 1px solid yellow; */
    margin: 20px 0;
    padding-right: 70px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.as-info-contents {
    /* border: 1px solid rgb(138, 131, 138); */
    width: 450px;
    height: 300px;
}

.as-info-text {
    font-size: 2.2rem;
    border: 1px solid #ff00ff;
    background-color: #2d0646;
    color: #95ff00;
    padding: 0 10px;
    margin: 7px 0;
}

.as-info-span {
    float: right;
    color: #ff00ff;
}

.as-areas-contents {
  
    width: 450px;
    padding-top: 20px;
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.as-travel-info {
    width: 80%;
    background-color: #042645;
    padding: 10px 25px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.as-areas-span {
    float: right;
    color:rgb(68, 255, 0);
    background-color: rgb(215, 94, 29);;
    padding: 3px 10px;
    border-radius: 10px;
}

.as-btns-area {
    /* border: 1px solid red; */
    width: fit-content;
}

.place-btn {
    width: 200px;
    height: 50px;
    margin: 10px;
    background-color: #042645;
    border-radius: 50px;
    color: #ff00ff;
    font-size: 1.4rem;
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    cursor: pointer;
    text-shadow: 1px 1px 0px rgba(34, 0, 0, 1);
}

.place-btn:hover {
    background-color: #0c4c87;
    border: 1px solid #233a04;
    color: #e320e3;
}

.space-ship-btn {
    background-color: #1f7ba6;
    border: 1px solid #233a04;
    border-radius: 50px;
    color: #fff;
    font-size: 1.4rem;
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    height: 50px;
    width: 425px;
    margin: 10px;
    cursor: pointer;
}

.space-ship-btn:hover {
    background-color: #31a1d4;
    border: 1px solid #233a04;
    color: #fff;
}

.as-middle {
    /* border: 1px solid blue; */
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.as-message-contents {
    background-color: rgba(255, 255, 255, 0.84);
    border: 1px solid darkgray;
    width: 950px;
    height: 155px;
    padding: 10px;
}

.as-bottom {
    /* border: 1px solid blueviolet; */
    padding: 0 20px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.as-substances-contents {
    border: 1px solid rgb(138, 131, 138);
    background-color: #fff;
    width: 400px;
    height:350px;
}

.as-game-action-btns {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 350px;
}

.action-btn {
    margin: 5px 0;
    padding: 5px;
    height: 40px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: #494343;
    cursor: pointer;
    
}

.as-inventory-contents {
    border: 1px solid rgb(138, 131, 138);
    background-color: #fff;
    width: 400px;
    height:350px;
}

table {
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    border-collapse: collapse;
    width: 100%;
}
  
th {
    text-align: center;
}
  
td {
    border: 1px solid rgb(138, 131, 138);
    text-align: center;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #ddd;
}