:root {
    --backgroundBlue: #007acc;
    --buttonRed: #c1121f;
    --darkBlue: #03346E;
    --barFgColor: #06D001;
    --barBgColor: #fff;
    --leftGrad: #05cff7;
    --centerGrad: #a2faa7;
    --rightGrad: #ff5900;
    --hover: #ff5900;
    --h2: #fff;
    --white: #fff;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--backgroundBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

header {
    text-align: center;
}

.homeColor {
    font-size: 1.2rem;
    color: var(--white);
}

.homeColor:hover {
    color: var(--darkBlue);
    transition: ease-in 0.2s;
}

a {
    text-decoration: none;
    margin: 15px;
}

p {
    margin: 4px;
}

.page-num-container {
    /* border: 1px solid red; */
    margin: 5px 0 10px;
}

button {
    border: none;
}

.first-button {
    margin: 0 5px;
    padding: 2px 3px;
}

.prev10-button {
    margin: 0 5px;
    padding: 3px 5px;
}

.prev-button {
    margin: 0 5px;
    padding: 5px 7px;
}

.pagination-button {
    margin: 0 5px;
    padding: 8px 13px;
    cursor: pointer;
}

.next-button {
    margin: 0 5px;
    padding: 5px 7px;
}

.next10-button {
    margin: 0 5px;
    padding: 3px 5px;
}

.last-button {
    margin: 0 5px;
    padding: 2px 3px;
}

.pagination-button:disabled {
    color: var(--white);
    background-color: var(--buttonRed);
}

table.run-data-table th.id-header {
    padding: 0px 10px;
}

table.run-data-table {
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    /* background-color: #fff; */
    border: 1px solid var(--darkBlue);
    margin: 10px 0 10px 0;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    min-width: 900px;
}

table.run-data-table th {
    border: 1px solid var(--darkBlue);
    color: var(--darkBlue);
    padding: 6px 0px;
    font-size: 1.2rem;
}

table.run-data-table td{
    border: 1px solid var(--darkBlue);
    padding: 6px 0px;
    font-size: 1.2rem;
}

@media (max-width: 600px) {

    .pagination-button {
        display: none;
    }

    table.run-data-table, thead, tbody, th, td, tr {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    table.run-data-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    table.run-data-table tr {
        margin:0;
    }

    table.run-data-table tr:nth-child(odd) {
        background: #ccc;
        background-color: #03346E;
    }

    table.run-data-table td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #111;
        position: relative;
        left: 45px;
        padding-left: 25px;
    }

    table.run-data-table td:before {
        position: absolute;
        top: 0;
        left: 2px;
        width: 75%;
        padding-right: 10px;
        white-space: nowrap;
    }

    table.run-data-table td:nth-of-type(1):before {
        content: "#";
    }
    table.run-data-table td:nth-of-type(2):before {
        content: "Day";
    }
    table.run-data-table td:nth-of-type(3):before {
        content: "Month";
    }
    table.run-data-table td:nth-of-type(4):before {
        content: "Day of Month";
    }
    table.run-data-table td:nth-of-type(5):before {
        content: "Year";
    }
    table.run-data-table td:nth-of-type(6):before {
        content: "Avg Pace";
    }
    table.run-data-table td:nth-of-type(7):before {
        content: "Distance";
    }
    table.run-data-table td:nth-of-type(8):before {
        content: "Duration";
    }
    table.run-data-table td:nth-of-type(9):before {
        content: "Calories";
    }
}
