:root {
    --backgroundBlue: #007acc;
    --buttonRed: #c1121f;
    --darkBlue: #03346E;
    --barFgColor: #06D001;
    --barBgColor: #fff;
    --leftGrad: #05cff7;
    --centerGrad: #a2faa7;
    --rightGrad: #ff5900;
    --hover: #ff5900;
    --h2: #fff;
    --white: #fff;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--backgroundBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

header {
    text-align: center;
}

.homeColor {
    font-size: 1.2rem;
    color: var(--white);
}

.homeColor:hover {
    color: var(--darkBlue);
    transition: ease-in 0.2s;
}

a {
    text-decoration: none;
    margin: 15px;
}

p {
    margin: 4px;
}

.page-num-container {
    /* border: 1px solid red; */
    margin: 5px 0 10px;
}

button {
    border: none;
}

.first-button {
    margin: 0 5px;
    padding: 1px 3px;
}

.prev-button {
    margin: 0 5px;
    padding: 3px 5px;
}

.pagination-button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.next-button {
    margin: 0 5px;
    padding: 3px 5px;
}

.plusTenButton {
    margin: 0 5px;
    padding:1px 3px;
}

.last-button {
    margin: 0 5px;
    padding:0px 1px;
}

.pagination-button:disabled {
    color: var(--white);
    background-color: var(--buttonRed);
}

table.run-data-table {
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    /* background-color: #fff; */
    border: 1px solid var(--darkBlue);
    margin: 10px 0 10px 0;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    min-width: 900px;
}

table.run-data-table th {
    border: 1px solid var(--darkBlue);
    color: var(--darkBlue);
    padding: 6px 0px;
    font-size: 1.2rem;
}

table.run-data-table td{
    border: 1px solid var(--darkBlue);
    padding: 6px 0px;
    font-size: 1.2rem;
}