
.app-hidden {
    display: none;
}

.description {
    color: var(--text);
}

.main-container {
    /* border: 1px solid red; */
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.metrics {
    /* border: 1px solid red; */
    color: var(--orange);
    display: flex;
    padding-bottom: 20px;
    align-items: center;
    gap: 35px;
}

.metrics span {
    color: var(--text);
    margin-left: 5px;
    padding-bottom: 4px;
}

.totals {
    display: flex;
    gap: 20px;
}

.page-num-container {
    margin-top: 20px;
}

.year-selector {
    /* border-radius: 25px; */
    border: none;
    width: 90px;
    text-align: center;
    font-size: 1rem;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

button {
    border: none;
    background-color: #eee;
    background-color: var(--orange);
    color: var(--bg);
    cursor: pointer;
}

.first-button {
    margin: 0 5px;
    padding: 2px 3px;
}

.prev10-button {
    margin: 0 5px;
    padding: 3px 5px;
}

.prev-button {
    margin: 0 5px;
    padding: 5px 7px;
}

.pagination-button {
    margin: 0 5px;
    padding: 8px 13px;
}

.next-button {
    margin: 0 5px;
    padding: 5px 7px;
}

.next10-button {
    margin: 0 5px;
    padding: 3px 5px;
}

.last-button {
    margin: 0 5px;
    padding: 2px 3px;
}

.pagination-button:disabled {
    color: var(--text);
    background-color: var(--activeGreen);
}

.run-data-container {
    border: 2px solid;
    border-image: linear-gradient(45deg, var(--leftGrad) 10%, var(--centerGrad) 50%, var(--rightGrad) 100%) 1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .17);
    width: 75%;
}

.data-title-container {
    border-bottom: 2px solid;
    border-image: linear-gradient(45deg, var(--leftGrad) 10%, var(--centerGrad) 50%, var(--rightGrad) 100%) 1;
    display: flex;
    padding: 5px 0;
}

.data-container {
    border-bottom: 1px solid var(--slate);
    display: flex;
}

.data-title {
    /* border: 1px solid green; */
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: var(--orange);
}

.data-item {
    /* border: 1px solid blue; */
    width: 100%;
    text-align: center;
    color: var(--text);
    padding: 10px 0;
}

@media (max-width: 900px) {
    .app-hidden {
        display: block;
    }

    .hero {
        display: none !important;
    }

    .title-container {
        color: var(--text);
    }

    .metrics {
        font-size: 0.5rem;
        padding: 10px 0px;
        gap: 30px;
    }

    .totals {
        display: flex;
        gap: 5px;
    }
    
    .pagination-button {
        display: none;
    }

    .run-data-container {
        font-size: .6rem;
        width: 100%;
    }

    .data-container {
        text-align: center;
        padding: 0px 0px;
    }

    .data-title {
        font-size: .5rem;
        /* border: 1px solid green; */
        padding: 0px 0;
    }

    .data-item {
        padding: 2px 0px;
    }
}