:root {
    --bg: #fff;
    --buttonRed: #c1121f;
    --text: #007acc;
    --highlight: #FF6969;
    --slate: #b6c5e0;
    --leftGrad: #05cff7;
    --centerGrad: #a2faa7;
    --rightGrad: #007acc;
}

.app-hidden {
    display: none;
}

.description {
    color: var(--highlight);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.page-counter span {
    color: var(--lighterGreen);
    border: 1px solid var(--highlight);
    margin: 10px;
    padding: 5px;
}

.page-num-container {
    /* border: 1px solid red; */
    margin: 15px 0 10px;
}

button {
    border: none;
    background-color: #eee;
    border: 1px solid var(--slate);
    color: var(--text);
    cursor: pointer;
}

.first-button {
    margin: 0 5px;
    padding: 2px 3px;
}

.prev10-button {
    margin: 0 5px;
    padding: 3px 5px;
}

.prev-button {
    margin: 0 5px;
    padding: 5px 7px;
}

.pagination-button {
    margin: 0 5px;
    padding: 8px 13px;
}

.next-button {
    margin: 0 5px;
    padding: 5px 7px;
}

.next10-button {
    margin: 0 5px;
    padding: 3px 5px;
}

.last-button {
    margin: 0 5px;
    padding: 2px 3px;
}

.pagination-button:disabled {
    color: var(--bg);
    background-color: var(--buttonRed);
}

.table-wrapper {
    border: 2px solid;
    border-image: linear-gradient(45deg, var(--leftGrad) 10%, var(--centerGrad) 50%, var(--rightGrad) 100%) 1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .17);
    /* padding-bottom: 15px ; */
    margin: 15px 0;
    color: var(--text);
}

table.run-data-table th.id-header {
    padding: 0px 10px;
}

table.run-data-table {
    border-top: 1px solid var(--text);
    /* margin: 25px 0 10px 0; */
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    min-width: 900px;
}

table.run-data-table th {
    border-bottom: 1px solid var(--text);
    color: var(--highlight);
    padding: 10px 0px;
    font-size: 1.2rem;
}

table.run-data-table td{
    border-bottom: 1px solid var(--text);
    padding: 6px 0px;
    font-size: 1.2rem;
}

@media (max-width: 900px) {

    .app-hidden {
        display: block;
    }
    .hero {
        display: none !important;
    }
    .title-container {
        color: var(--text);
    }

    .pagination-button {
        display: none;
    }

    table.run-data-table, thead, tbody, th, td, tr {
        display: flex;
        flex-direction: column;
    }

    table.run-data-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    table.run-data-table tr {
        width: 100%;
        margin:0;
    }

    table.run-data-table tr:nth-child(odd) {
        background: #ccc;
        background-color: #104787;
    }

    table.run-data-table td {
        border: none;
        border-bottom: 1px solid #111;
        position: relative;
        left: 45px;
        padding-left: 25px;
    }

    table.run-data-table td:before {
        position: absolute;
        top: 0;
        left: 2px;
        width: 75%;
        padding-right: 10px;
        white-space: nowrap;
    }

    table.run-data-table td:nth-of-type(1):before {
        content: "#";
    }
    table.run-data-table td:nth-of-type(2):before {
        content: "Day";
    }
    table.run-data-table td:nth-of-type(3):before {
        content: "Month";
    }
    table.run-data-table td:nth-of-type(4):before {
        content: "Day of Month";
    }
    table.run-data-table td:nth-of-type(5):before {
        content: "Year";
    }
    table.run-data-table td:nth-of-type(6):before {
        content: "Avg Pace";
    }
    table.run-data-table td:nth-of-type(7):before {
        content: "Distance";
    }
    table.run-data-table td:nth-of-type(8):before {
        content: "Duration";
    }
    table.run-data-table td:nth-of-type(9):before {
        content: "Calories";
    }
}
