.array-area {
    border-top: 1px solid var(--text);
    border-bottom: 1px solid var(--text);
    text-align: center;
    padding: 20px;
    margin: 10px 10px 15px;
    max-width: 750px;
    overflow-wrap: break-word;
}

.apps-container p {
    font-size: 1.4rem;
}

.input-area {
    display: flex;
    gap: 20px;
}

.in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.num-text {
    color: var(--orange);
    margin-left: 10px;
}